

.output_area{
    background-color:black;
    color: white;
    font-size: 35px;
    border-width: 0px;
    line-height: 50px;
    padding: 9px;
    resize: none;
    width: 96%;
    height: 50px;
    user-select: none;
    user-focus: none;
    border-radius: 15px;
    user-focus-pointer: none;
    background-clip: content-box;
    outline: none;
    cursor: auto;
}

.main_div{
    width: var(--width_main);
    border-radius: 10px;
    background-color: #171616; /*#cbcbcb*/
    height: 420px;
    margin: 25px auto
}

.button_div, .special_buttons, .operators {
    /*center the numbers*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: #3d3939;
    background-clip: content-box;
    float:left;
    border-color: black;
    border-radius: 50px;
}

.special_buttons{
    background-color: #656262;
}
.operators{
    background-color: #ffa22e;
}

.operators, .special_buttons, .button_div:hover{
    cursor: pointer;
}

.button_div, .operators{
    font-size: 25px;
    font-weight: bold;
}


